/* css resets */
@font-face {
  font-family: Lato;
  src: url("../libraries/font-awesome/Lato-Light.ttf");
}
html, body {
/*  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  background: #f7f7f7;
}
a, a:hover {
  text-decoration: none;
}

/* Center content horizontally and vertically */
.table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}

/* import file icon color */
.vector-container h1 {
  color: #9d9d9d;
  transition: all linear 150ms;
}
.vector-container h1:hover {
  color: #878787;
}

/* vector */
.vector-container,
.vector {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
/*  margin: 70px 80px;*/
  bottom: 0;
}
.vector-container h1 {
  transform: scale(5);
  position: relative;
  z-index: 1;
}
.vector-container svg {
  width:  100%;
  height: 100%;
}

/* gif export preloader */
.preloader svg {
  width: 100%;
}
.preloader tspan {
  stroke: #666;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s linear alternate infinite;
}
@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* contentEditable */
[contenteditable]:empty:before {
  content: attr(data-placeholder);
  display: inline-block;
  color: grey;
}

/* color picker input */
.picker {
  width: 175px;
}
background: transparent;
box-shadow: 0 0 0;

/* SWAL */
.swal2-icon {
  font-size: initial!important;
}
.swal2-icon.swal2-warning,
.swal2-icon.swal2-question {
  font-size: inherit!important;
  line-height: initial!important;
}
.swal2-icon.swal2-warning > .swal2-icon-text,
.swal2-icon.swal2-question > .swal2-icon-text {
  margin: auto;
}

/* MDL - Material Design Lite */
.mdl-layout {
  position: relative;
  z-index: 1;
}

/* Header */
.mdl-layout__header {
  background-color: transparent!important;
  box-shadow: 0 0 0 transparent!important;
}
.mdl-layout__header .material-icons {
  color: #9d9d9d!important;
/*  color: #575757!important;*/
}
.mdl-layout__header .mdl-menu__item .material-icons {
  color: #575757!important;
}
.mdl-navigation .ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.mdl-navigation .ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
.mdl-navigation .ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

/* Header menu dropdown */
.mdl-menu a {
  text-decoration: none;
  color: #000;
}
.mdl-menu .mdl-menu__item .material-icons {
  display: inline-block;
  position: relative;
  top: 7px;
  margin: 0 5px 0 -5px;
}
.mdl-menu .mdl-menu__item span {
  display: inline-block;
}

/* Cards */
.mdl-layout__content .material-icons {
  color: #575757;
}
.mdl-card {
  width: 256px;
  height: fit-content;
  min-height: auto;
  color: #575757;
}
.mdl-card .number {
  line-height: 24px;
  width: 24px;
}
.mdl-card .keyplace {
  max-height: 124px;
  overflow: auto;
}
.mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .material-icons {
  padding-right: 10px;
}

/* Project Settings */
.projectsettingsbg {
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.projectSettings {
  width: inherit;
  z-index: 3;
}
.projectSettings > div {
  background: #fff;
  border-radius: 1em;
  padding: 1em 2em;
}

/* global classes */
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.w100p {
  width: 100%;
}
.purple {
  color: #551a8b!important;
}
.move {
  cursor: move;
}
.nomarb {
  margin-bottom: 0;
}
.divfill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}